[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
innodb_buffer_pool_size = 256M
innodb_redo_log_capacity = 134217728
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
max_connections = 200
